<div>
    <h2 data-translate="semhasApp.kps.home.title">My Following Seminar List</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="peserta-seminar.export" 
                        ng-if="vm.seminars.length >= 10">
                    <span class="glyphicon glyphicon-print"></span>
                    <span  data-translate="semhasApp.kps.printKps">
                        Print KPS
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div>
        <div class="row" 
                style="border: 1px solid #ddd; border-radius: 5px; margin: 10px 7px; padding: 10px;" 
                ng-repeat="seminar in vm.seminars">
            <div class="col-sm-4" style="padding: 7px; text-align: center;">
                <img data-ng-src="{{'data:' + seminar.mahasiswa.fotoContentType + ';base64,' + seminar.mahasiswa.foto}}" 
                    style="display: block; margin: auto; max-height: 150px;" 
                    ng-if="seminar.mahasiswa.foto" alt="mahasiswa image"/>

                <img src="../content/images/no-profile.png" 
                    style="display: block; margin: auto; max-height: 150px;" 
                    ng-if="!seminar.mahasiswa.foto"/>
            </div>
            <div class="col-sm-8">
                <h4>{{seminar.judul}}</h4>
                <div class="form-horizontal">
                    <div class="form-group" style="margin: 0">
                        <label class="col-sm-4 control-label"><span data-translate="semhasApp.mahasiswa.nama">Nama</span></label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{seminar.mahasiswaNama}}</p>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 0">
                        <label class="col-sm-4 control-label"><span data-translate="semhasApp.seminar.tanggal">Tanggal</span></label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{seminar.jadwalSeminarTanggal}}</p>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 0">
                        <label class="col-sm-4 control-label"><span data-translate="semhasApp.seminar.jam">Jam</span></label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{seminar.jamMulai}} - {{seminar.jamSelesai}}</p>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 0">
                        <label class="col-sm-4 control-label"><span data-translate="semhasApp.seminar.ruangan">Ruangan</span></label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{seminar.ruangan}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
