<div>
    <h2 data-translate="semhasApp.seminar.home.title">Seminars</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="seminar.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="semhasApp.seminar.home.createLabel">
                        Create new Seminar
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="judul"><span data-translate="semhasApp.seminar.judul">Judul</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="abstrak"><span data-translate="semhasApp.seminar.abstrak">Abstrak</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fileAccSeminar"><span data-translate="semhasApp.seminar.fileAccSeminar">File Acc Seminar</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ruangan"><span data-translate="semhasApp.seminar.ruangan">Ruangan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jamMulai"><span data-translate="semhasApp.seminar.jamMulai">Jam Mulai</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jamSelesai"><span data-translate="semhasApp.seminar.jamSelesai">Jam Selesai</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="semhasApp.seminar.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mahasiswaId"><span data-translate="semhasApp.seminar.mahasiswa">Mahasiswa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jadwalSeminarId"><span data-translate="semhasApp.seminar.jadwalSeminar">Jadwal Seminar</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dosenPertamaId"><span data-translate="semhasApp.seminar.dosenPertama">Dosen Pertama</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dosenKeduaId"><span data-translate="semhasApp.seminar.dosenKedua">Dosen Kedua</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="seminar in vm.seminars track by seminar.id">
                    <td><a ui-sref="seminar-detail({id:seminar.id})">{{seminar.id}}</a></td>
                    <td>{{seminar.judul}}</td>
                    <td>{{seminar.abstrak}}</td>
                    <td>
                        <a ng-if="seminar.fileAccSeminar" ng-click="vm.openFile(seminar.fileAccSeminarContentType, seminar.fileAccSeminar)">
                            <img data-ng-src="{{'data:' + seminar.fileAccSeminarContentType + ';base64,' + seminar.fileAccSeminar}}" style="max-height: 30px;" alt="seminar image"/>
                        </a>
                        <span ng-if="seminar.fileAccSeminar">{{seminar.fileAccSeminarContentType}}, {{vm.byteSize(seminar.fileAccSeminar)}}</span>
                    </td>
                    <td>{{seminar.ruangan}}</td>
                    <td>{{seminar.jamMulai | date:'medium'}}</td>
                    <td>{{seminar.jamSelesai | date:'medium'}}</td>
                    <td data-translate="{{'semhasApp.StatusSeminar.' + seminar.status}}">{{seminar.status}}</td>
                    <td>
                        <a ui-sref="mahasiswa-detail({id:seminar.mahasiswaId})">{{seminar.mahasiswaId}}</a>
                    </td>
                    <td>
                        <a ui-sref="jadwal-seminar-detail({id:seminar.jadwalSeminarId})">{{seminar.jadwalSeminarId}}</a>
                    </td>
                    <td>
                        <a ui-sref="dosen-detail({id:seminar.dosenPertamaId})">{{seminar.dosenPertamaId}}</a>
                    </td>
                    <td>
                        <a ui-sref="dosen-detail({id:seminar.dosenKeduaId})">{{seminar.dosenKeduaId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="seminar-detail({id:seminar.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="seminar.edit({id:seminar.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="seminar.delete({id:seminar.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
