
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPesertaSeminarLabel" data-translate="semhasApp.pesertaSeminar.home.createOrEditLabel">Create or edit a Peserta Seminar</h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                    <tr>
                        <th><span data-translate="semhasApp.mahasiswa.nim">NIM</span></th>
                        <th><span data-translate="semhasApp.mahasiswa.nama">Nama</span></th>
                        <th><span data-translate="semhasApp.mahasiswa.semester">Semester</span></th>
                        <th><span data-translate="semhasApp.pesertaSeminar.absensi">Absensi</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pesertaSeminar in vm.pesertaSeminars track by pesertaSeminar.id">
                        <td>{{pesertaSeminar.mahasiswa.nim}}</td>
                        <td>{{pesertaSeminar.mahasiswa.nama}}</td>
                        <td>{{pesertaSeminar.mahasiswa.semester}}</td>
                        <td>
                            <button class="btn btn-danger btn-xs" ng-click="vm.setActive(pesertaSeminar, 'HADIR')" ng-show="pesertaSeminar.absensi == 'ABSEN'"
                                    data-translate="{{'semhasApp.AbsensiSeminar.' + pesertaSeminar.absensi}}"></button>
                            <button class="btn btn-success btn-xs" ng-click="vm.setActive(pesertaSeminar, 'ABSEN')" ng-show="pesertaSeminar.absensi == 'HADIR'"
                                    data-translate="{{'semhasApp.AbsensiSeminar.' + pesertaSeminar.absensi}}"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.close">Close</span>
        </button>
    </div>
</form>
